<header>
<div class="container">
<span class="logo">{{#linkTo "index"}}{{/linkTo}}</span>
</div>
</header>
<div id="main" class="container">
{{outlet}}
</div>
<footer>
<div class="container">
<span>&copy; 2013 Broohaha. All rights reserved.</span>
</div>
</footer>
{{outlet modal}}
